.country-selector-label {
  font-size: 1.3rem;
  color: rgb(0, 45, 30);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.dial-code-wrapper-signup {
  position: absolute;
  right: 770px;
  background-color: rgb(241, 235, 235);
  color: #3d434a;
}

.dial-code-wrapper-signin {
  position: absolute;
  right: 780px;
  background-color: rgb(241, 235, 235);
  color: #3d434a;
}

.input {
  padding: 1rem 1.2rem 1rem 4.2rem;
  border: none;
  background-color: rgb(241, 235, 235);
  border-radius: 8px;
  font-size: 1rem;
  color: rgb(35, 33, 33);
  &:focus {
    outline: 2px solid #0467e0;
  }
  &::placeholder {
    color: #697077;
    font-size: 1rem;
  }
}

.dropdown-container {
  max-width: 300px;
  margin: auto;
}

.dropdown-container {
  position: relative;
}
.dropdown-container::after {
  font-size: 14px;
  color: #3498db;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Let clicks pass through */
}
