.dialog {
  border: none;
  border-radius: 8px;
  padding: 0;
  margin: auto;
  max-width: 90vw;
  max-height: 90vh;

  overflow: auto;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  backdrop-filter:unset;
}

.dialog img {
  border: none;
  width: 100%;
  height: auto;
  display: block;

  object-fit: contain;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.615);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* Ensure dialog stays centered when open */
.dialog[open] {
  display: block;
}

.dialog > * {
  position: relative;
}

.close-btn-class {
  position: fixed;
  top: 10%;
  right: 10%;
  background: rgba(252, 0, 0, 0);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s;
  color: #fe0606;
  line-height: 1;
  z-index: 10;
  transform: scale(1.3);
}

.close-btn-class:hover {
  background-color: rgb(254, 0, 0);
  color: white;
}

.close-btn-class:active {
  transform: scale(0.95);
}
