.dashboard {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(238, 242, 251);
  display: grid;
  grid-template-columns: 5% 28% 60%;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.nav-btn {
  background: transparent;
  border: none;
  padding: 0.8rem;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
    background-color: rgb(0, 68, 255);
  }
}

.active-nav {
  background-color: rgb(0, 68, 255);
}

.msg-icon-img {
  height: 30px;
  width: 50px;
}

.icon-img {
  height: 30px;
  width: 30px;
}
