.logoutContainer {
  padding: 1rem 1rem 1rem 2rem;
  object-fit: cover;
  height: 20vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1.4rem;
  background-color: rgb(240, 232, 232);
}

.logoutText {
  font-size: 1.5rem;
  color: rgb(0, 20, 67);
}

.buttonController {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  align-self: flex-end;
}

button {
  padding: 0.6rem;
  font-size: 1.05rem;
  cursor: pointer;
}

.closeButton {
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: rgb(0, 20, 67);
  &:hover {
    background-color: rgb(0, 20, 67);
    color: white;
  }
}

.logoutButton {
  border-radius: 4px;
  border: 2px solid red;
  background-color: white;
  color: red;

   &:hover {
    background-color: rgb(250, 2, 2);
    color: white;
  }

}
