.chat-lists {
  width: 100%;
  padding: 0 0 0.3rem 0.9rem;
  height: 97vh;
  background-color: white;
  border-radius: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.location-icon {
  height: 20px;
  width: 20px;
}

.header {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.header h1 {
  /* margin: 1.3rem 3rem; */
  color: rgb(0, 106, 255);
  font-weight: 800;
  font-size: 2.2rem;
  margin-top: 2rem;
  margin-left: 1.4rem;
}

.search-bar-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.search-bar-wrapper input {
  border: none;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  padding: 1.3rem 1.2rem 1.3rem 1.2rem;
  border-radius: 5px;
  width: 85%;
  background-color: rgb(236, 232, 232);
  color: rgb(84, 81, 81);
  font-size: 1.05rem;
  flex: 1;

  &::placeholder {
    color: rgb(116, 112, 112);
    font-size: 14px;
  }

  &:focus {
    outline: none;
  }
}

.pinned-messages-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.pinned-messages-text {
  color: rgb(116, 112, 112);
  font-size: 16px;
}

.all-messages-text {
  color: rgb(116, 112, 112);
  font-size: 16px;
}

.pinned-illustration {
  /* padding: 0.8rem 0;
  margin-left: 1.5rem; */
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.user-friends {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.all-messages {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex: 1;
}

.all-message-illustration {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  flex: 1;
}
