.friend-card {
  margin-left: 1rem;
  padding: 1.2rem 0.8rem;
  height: 80px;
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.7rem;
  border-radius: 9px;
  flex: 1;
  &:hover {
    background-color: rgb(236, 229, 229);
    cursor: pointer;
  }
}

.friend-card-active {
  background-color: rgb(242, 239, 239);
}

.user-profile {
  height: 70px;
  width: 70px;
}

.user-profile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.user-info {
  height: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-id {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 2px;
}

.user-name {
  font-weight: 700;
  font-size: 1.35rem;
}

.user-last-message {
  color: rgb(139, 137, 137);
  font-size: 1.1rem;
}

.user-last-active-displayer {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.last-active-time {
  color: grey;
}

.user-messages-count {
  height: 25px;
  width: 25px;
  padding: 0.2rem;
  font-size: 0.9rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(179, 0, 0);
}
