.chat-nav {
  width: 100%;
  height: 97vh;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo-container {
  margin-top: 10px;
  &:hover {
    cursor: text;
  }
}

.icon-parent {
  pointer-events: none;
  border: none;
  background-color: transparent;
  &:hover {
    cursor: text;
  }
}

.app-icon {
  height: 55px;
  width: 55px;
  &:hover {
    cursor: text;
  }
}

.icons-container {
  margin: 2rem auto 4rem auto;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}
