.input-controller {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-controller label {
  color: #001125;
  font-size: 1.3rem;
}

.input-controller input {
  padding: 0.9rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: rgb(241, 235, 235);
  outline: none;
  transition: border-color 0.3s;
  font-family: inherit;
  &:focus {
    outline: 2px solid #0467e0;
  }
  &::placeholder {
    color: #3d434a;
    font-size: 1rem;
  }
}

.eye {
  padding: 0;
  background-color: transparent;
  border: none;
}

.eye-signIn {
  position: relative;
  transform: translateY(170%);
  right: -62%;
  color: rgb(50, 50, 50);
}

.eye-signUp {
  position: relative;
  transform: translateY(170%);
  right: -64%;
  color: rgb(50, 50, 50);
}

@media (max-width: 1080px) {
  .eye-signIn {
   position: relative;
  transform: translateY(170%);
  right: -62%;
  color: rgb(50, 50, 50);
  }

  .eye-signUp {
    position: relative;
    transform: translateY(170%);
    right: -64%;
    color: rgb(50, 50, 50);
  }
}

@media (max-width: 768px) {
  .eye-signIn {
    position: relative;
  transform: translateY(170%);
  right: -62%;
  color: rgb(50, 50, 50);
  }

  .eye-signUp {
    position: relative;
    transform: translateY(170%);
    right: -64%;
    color: rgb(50, 50, 50);
  }
}

@media (max-width: 480px) {
  .eye-signIn {
   position: relative;
  transform: translateY(170%);
  right: -62%;
  color: rgb(50, 50, 50);
  }

  .eye-signUp {
    position: relative;
    transform: translateY(170%);
    right: -64%;
    color: rgb(50, 50, 50);
  }
}

@media (max-width: 380px) {
  .eye-signIn {
   position: relative;
  transform: translateY(170%);
  right: -62%;
  color: rgb(50, 50, 50);
  }

  .eye-signUp {
    position: relative;
    transform: translateY(170%);
    right: -64%;
    color: rgb(50, 50, 50);
  }
}
